%nav.navbar.navbar-default
  .container
    .navbar-header
      %h4.navbar-text
        = link_to 'stuart_illson', root_path
    %ul.nav.navbar-nav.navy-items
      %li.navbar-text
        = link_to 'about', "#"
      %li.navbar-text
        = link_to 'passive-capture', "#"
      %li.navbar-text
        = link_to 'anadromous-data', "https://github.com/anadromous-data", :target => "_blank"
      %li.navbar-text
        = link_to 'github', "https://github.com/Sillson", :target => "_blank"
